/**
 * CSS for the about-me.html page.
 *
 * This file contains CSS code for the about-me.html page.
 */

/*
  #### Table of Contents ####

  1. global rules
  2. header rules
  3. section rules
*/

/*
  ===========
  1. global rules
  ===========
*/
*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-family: var(--font);
}

p
{
  font-size: var(--text-font-size);
}

/*
  ===========
  2. header styles
  ===========
*/
header
{
  /* background-image: url("../images/about-me-header.jpg");
  background-size: 100% 100%; */

  /* padding-top: 70vh;
  padding-bottom: 10vh; */
  padding: 20vh 50px;

  /* text-align: center; */
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#header-heading
{
  text-align: center;

  font-size: 30pt;
}

#header-text
{
  text-align: justify;
  margin: auto auto;
}

/*
  ===========
  3. section styles
  ===========
*/
section
{
  /* display: flex; */
  /* border: 3px solid black; */

  margin-top: 15px;
  padding: 10px 15px;
}

section:not(:last-of-type)
{
  border-bottom: 1px solid black;
}

section .row
{
  display: flex;
}

section .section-img, section .section-desc
{
  padding: 14px;
}

section .section-desc
{
  margin: auto auto;
}

.section-img img
{
  width: 100%;
}

/* about-me grid */
/* .grid-container
{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item
{
  border: 3px solid hotpink;
}

.grid-item img
{
  width: 100%;
  height: 100%;
  margin: auto auto;
} */

/* For about me click to show description function */
.about-me-grid img
{
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.about-me-grid div
{
  display: block;
}

.about-me-desc-radio-btn
{
  /* display: none; */
}

.about-me-desc-toggler
{
  cursor: pointer;
}

[class$="about-me-desc"]
{
  display: none;
}

.about-me-desc-radio-btn:checked ~ .about-me-desc-toggler
{
  display: block;
}

/* iframe
{
  height: 1000px;
  width: 100%;
} */
