:root
{
  --font: "Brush Script MT", cursive, "Helvetica", sans-serif, "Verdana", sans-serif;
  --background-color: #ffffff;
  /*
    alternate background colors:
    #ededed
    #B8E2F2
    burlywood
  */
  --alt-color: #000000;
}
