/**
 * CSS for the mc-def-game.html page.
 *
 * This file contains CSS code for the mc-def-game.html page.
 */

/*
  #### Table of Contents ####

  1. variables
  2. global rules
  3. text emphasis styles
  4. game form syles
  5. target word styles
  6. answer choice styles
  7. component styles
    7a. button styles
    7b. WordBank switch styles
    7c. Word grid item styles
  8. feedback messsage styles
  9. skip content syles
*/

/*
  ===========
  1. variables
  ===========
*/
:root {
  /* Colors */
  --confirm-green: #30bf51;

  /* Fonts */
  --global-text-font: "Garamond", sans-serif, "Helvetica", sans-serif, "Verdana", sans-serif;
  --form-font: var(--global-text-font);
  --choice-font: var(--global-text-font);
  --section-text-font: var(--global-text-font);
  --title-font-size: 1.5em;
  --choice-font-size: 16px;
  /*  "Brush Script MT", cursive,  */
  --msg-font-size: 14pt;

  /* Header styles */
  --primary-color: #000000;
  --header-title-font: var(--global-text-font);
  --header-text-color: #ffffff;

  /* Form styles */
  --quiz-primary-color: #ffffff;
  /*
    Alternative color:
    #71EBE5
  */
  --quiz-border-color: #000000;
  /* #BF363C */

  /* Choice Styles */
  --choice-primary-color: #ffffff;
  /* #FAA916 */
  --choice-border-color: #000000;
  /* #813405 */
  --choice-text-color: #000000;
  --choice-hover-color: #000000;
  --choice-hovered-border-color: #000000;
  --choice-hovered-text-color: #ffffff;

  /* Button styles */
  /* New Word button styles */
  --new-word-button-primary-color: #0069d9;
  /* #FAA916 */
  --new-word-button-border-color: #0062cc;
  /* #813405 */
  --new-word-button-text-color: #ffffff;

  /* Submit button styles */
  --submit-button-primary-color: var(--confirm-green);
  --submit-button-border-color: #218838;
  --submit-button-text-color: #ffffff;
}

/*
  ===========
  2. global rules
  ===========
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  padding: 20vh 1vw;

  background-color: var(--primary-color);
  color: var(--header-text-color);

  text-align: center;
  font-family: var(--header-title-font);
}

section {
  padding: 0 7vw;
}

section:not(:last-of-type) {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

section:not(#game) {
  font-family: var(--section-text-font);
  font-size: var(--msg-font-size);
}

/*
  ===========
  3. text emphasis syles
  ===========
*/
.bold {
  font-weight: bold;
}

/*
  ===========
  4. game form syles
  ===========
*/
/* game form styling */
.def-game {
  margin: 0 auto;
  padding: 10px 10px;

  width: 315px;

  background-color: var(--quiz-primary-color);

  border: 3px solid var(--quiz-border-color);
  border-radius: 10px;

  text-align: center;
  font-family: var(--form-font);

  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .def-game {
    width: 600px;
  }
}

/*
  ===========
  5. target word styles
  ===========
*/
.form-title {
  /* Centers the target word */
  text-align: center;
}

.target-word {
  font-size: var(--title-font-size);
}

/*
  ===========
  6. answer choice styles
  ===========
*/
/* Answer choice styling */
.definition {
  margin-bottom: 15px;
  padding: 16px 28px;

  border: 3px solid var(--choice-border-color);
  border-radius: 10px;

  background-color: var(--choice-primary-color);

  transition-duration: 0.4s;

  cursor: pointer;
}

.definition:hover {
  /* Makes choices change color when hovered over */
  background-color: var(--choice-hover-color);
  color: var(--choice-hovered-text-color);

  border-color: var(--choice-hovered-border-color);
}

input {
  /* Removes dots at the side of radio buttons */
  display: none;
}

input:checked+.definition {
  /* Allows choices to appear selected when clicked */
  background-color: var(--choice-hover-color);
  color: var(--choice-hovered-text-color);
}

/*
  ===========
  7. component styles
  ===========
*/

/*
  ===========
  7a. button styles
  ===========
*/
/* Button Styling */
.ui-component {
  font-family: var(--choice-font);
  font-size: var(--choice-font-size);
}

.ui-button {
  padding: 10px 16px;

  border-radius: 7px;
}

.ui-button:hover {
  opacity: 0.8;

  cursor: pointer;

  transition-duration: 0.4s;
}

.submit-button {
  display: inline-block;
  border: 2px solid var(--submit-button-border-color);

  background-color: var(--submit-button-primary-color);
  color: var(--submit-button-text-color);
}

.check-button {
  display: inline-block;
  border: 2px solid var(--new-word-button-border-color);

  background-color: var(--new-word-button-primary-color);
  color: var(--new-word-button-text-color);
}

/*
  ===========
  7b. WordBank swtich styles
  ===========
*/
/* WordBank Switch */
#wordbank-switch {
  display: none;
}

.wordbank-switch-toggler {
  display: inline-block;

  margin-top: 10px;

  text-align: center;
  /*
    Used to remove the space created between on-switch and off-switch with
    display:inline-block
  */
  font-size: 0;

  border: 2px solid black;

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .wordbank-switch-toggler {
    margin-top: 0;
  }
}

.on-switch,
.off-switch {
  display: inline-block;
  /* width: 100%; */

  margin: 0 auto;
  padding: 5px 14px;

  text-align: center;

  transition: 0.5s;
}

.on-switch {
  border-right: 2px solid black;
}

#wordbank-switch:checked~.wordbank-switch-toggler>.on-switch {
  background-color: green;
  color: white;
}

#wordbank-switch:not(:checked)~.wordbank-switch-toggler>.off-switch {
  background-color: red;
  color: white;
}

/*
  ===========
  7c. Word grid item styles
  ===========
*/
.wordgrid {
  /* max number of columns in grid */
  --max-columns: 4;
  display: grid;
  /* width: calc(100% / 3); */
  grid-template-columns: repeat(auto-fit, minmax(max(calc(100% / var(--max-columns))), 1fr));
  /* grid-gap: 1em; */
}

.wordgrid-item {
  /* margin-bottom: 4em; */

  text-align: center;

  border: 2px solid black;
}

.wordgrid-item .word {
  font-weight: bold;
}

/*
  ===========
  8. feedback message syles
  ===========
*/
/* Feedback message styling */
#feedback-msg {
  margin-top: 10px;
  font-size: var(--msg-font-size);
}

/*
  ===========
  9. skip content syles
  ===========
*/
.skip-content-link {
  display: inline-block;
  position: absolute;
  width: 25%;

  background-color: var(--primary-color);
  color: var(--header-text-color);

  text-align: center;
  text-decoration: none;

  font-size: var(--msg-font-size);

  padding: 12px 4px;

  border-radius: 0 0 2px 2px;

  transform: translateX(-120%);
  transition: transform 0.2s;
}

.skip-content-link:focus {
  transform: translateX(0);
}